@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

/*-------------------DESKTOP------------------------------------------------------*/

.body__wraper {
  display: flex;
  flex-direction: column;
}

/**HEADER DESKTOP*/

header {
  width: 100%;
  height: 120px;
  background: linear-gradient(90.49deg, #53269D 0%, #6D31D0 100.2%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#logoheader {
  width: 120px;
}

.menu {
  display: none;
}

.conteiner {
  padding: 0 15px 0;
  width: 1240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__desktop {
  width: 718px;
  display: flex;
  justify-content: space-between;
}

.menu__desktop a:hover {
  color: gray;
  transition: all .2s;
}

.menu__link {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}

.button__header {
  color: #6D31D0;
  font-weight: 600;
  font-size: 20px; 
  width: 180px;
  height: 48px;
  border-radius: 30px;
  background: #FFDB80;
  border: none;
  cursor: pointer;
}

.button__header a {
  text-decoration: none;
}

.button__header:hover {
  box-shadow: 8px 7px 10px rgba(0, 0, 0, 0.76);
  transition: .3s;
}

.header__burger-btn {
  display: none;
}



/*CONTENT TOP*/

main {
  display: flex;
  flex-direction: column;
}

.one-block {
  height: 530px;
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255), rgba(255, 255, 255, 0.877), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("background.jpg") no-repeat right;
  background-size: contain;
}

.one__block-conteiner {
  width: 1240px;
  padding: 0 15px 0;
  margin-left: auto;
  margin-right: auto;
}

#content-name {
  font-weight: 600;
  font-size: 36px;
  text-transform: uppercase;
  color: #434364;
  margin-left: 100px;
  margin-top: 250px;
}

.one-block-tbl-and-phone {
  display: none;
}
/*TXT ONE BLOCK*/

.txt__one-block {
  width: 100%;
  height: 440px;
  background: rgba(109, 49, 208, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__one-block-txt {
  width: 580px;
}

#txt-one {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #FFFFFF;
}

/*TXT TWO BLOCK*/

.txt__two-block {
  width: 100%;
  height: 948px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

.conteiner__two-block-txt {
  width: 580px;
}

#header-txt-two {
  font-weight: 600;
  font-size: 36px;
  text-transform: uppercase;
  color: #434364;
}

.conteiner__two-block-txt p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #434364;  
}



.info-and-specialization {
  width: 100%;
  height: 1156px;
  background: linear-gradient(180deg, #FEFC9E -47.89%, #FDBFA3 126.42%);
}


.img {
width: 100%;
object-fit: cover;

}


/*--------------------------------TABLETKA----------------------------------------------*/

@media screen and (max-width: 1000px) {
  .body__wraper {
    overflow: hidden;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  /**HEADER TBL*/
  
  header {
    width: 100%;
    height: 120px;
    background: linear-gradient(90.49deg, #53269D 0%, #6D31D0 100.2%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #logoheader {
    width: 100px;
  }
  
  .conteiner {
    padding: 0 15px 0;
    width: 580px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  


  .menu__desktop {
    display: none;
  }

  .menu {
    display: block;
    position: absolute;
    background-color: gray;
    right: -350px;
    top: 0;
    width: 350px;
    visibility: hidden;
    padding-top: 75px;
    transition: transform .5s, visibility .5s;
    will-change: transform;
  }
  
  .menu__list {
    list-style-type: none; 
  }
  
  .menu__link {
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
    padding: 10px;
  }
  
  .button__header {
    display: block;
    color: #6D31D0;
    font-weight: 600;
    font-size: 20px; 
    width: 180px;
    height: 48px;
    border-radius: 30px;
    background: #FFDB80;
    border: none;
    cursor: pointer;
    margin-left: 140px;
  }
  
  .button__header a {
    text-decoration: none;
  }

  .header__burger-btn {
    display: block;
    position: relative;
    width: 40px;
    height: 30px;
    background-color: #6D31D0;
    border: none;
    outline: none;
    order: 1;
  }
  
  .header__burger-btn span {
    display: block;
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: #fff;
    left: 0;
    transition: transform .5s;
    will-change: transform;
    z-index: 2;
    cursor: pointer;
  }
  
  .header__burger-btn span:nth-child(1) {
    transform: translateY(-12px);
  }
  
  .header__burger-btn span:nth-child(3) {
    transform: translateY(12px);
  }
  
  /*Крестик*/
  
  .header.open .header__burger-btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
  }
  
  .header.open .header__burger-btn span:nth-child(2) {
    opacity: 0;
  }
  
  .header.open .header__burger-btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
  }
  
  .header.open .menu {
    transform: translateX(-100%);
    visibility: visible;
  }
  
  /*CONTENT TOP*/
  
  main {
    display: flex;
    flex-direction: column;
  }
  
  .one-block {
    height: 600px;
    background: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.966), rgba(255, 255, 255, 0.068), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("background.jpg") no-repeat center bottom;
  }
  
  .one__block-conteiner {
    display: none;
  }

  .one-block-tbl-and-phone {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  #content-name-tbl {
    font-weight: 600;
    font-size: 36px;
    text-transform: uppercase;
    color: #434364;
  }
  
  /*TXT ONE BLOCK*/
  
  .txt__one-block {
    width: 100%;
    height: 440px;
    background: rgba(109, 49, 208, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container__one-block-txt {
    width: 580px;
  }
  
  #txt-one {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
  }
  
  /*TXT TWO BLOCK*/
  
  .txt__two-block {
    width: 100%;
    height: 948px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
  }
  
  .conteiner__two-block-txt {
    width: 580px;
  }
  
  #header-txt-two {
    font-weight: 600;
    font-size: 36px;
    text-transform: uppercase;
    color: #434364;
  }
  
  .conteiner__two-block-txt p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #434364;  
  }
  
  
  
  .info-and-specialization {
    width: 100%;
    height: 1156px;
    background: linear-gradient(180deg, #FEFC9E -47.89%, #FDBFA3 126.42%);
  }


  .img {
    width: 100%;
    object-fit: cover;
  }
}

/*----------------------MOBILE-----------------------------------*/

@media screen and (max-width: 600px) {

  .body__wraper {
    overflow: hidden;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  /**HEADER MOBILE**/

  header {
    width: 100%;
    height: 120px;
    background: linear-gradient(90.49deg, #53269D 0%, #6D31D0 100.2%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #logoheader {
    width: 100px;
  }

  .conteiner {
    padding: 0 15px 0;
    width: 345px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .one__block-conteiner {
    display: none;
  }

  .menu__desktop {
    display: none;
  }

  .menu {
    display: block;
    position: absolute;
    background-color: gray;
    right: -265px;
    top: 0;
    width: 265px;
    visibility: hidden;
    padding-top: 75px;
    transition: transform .5s, visibility .5s;
    will-change: transform;
  }

  .menu__list {
    list-style-type: none; 
  }

  .menu__link {
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    padding: 10px;
  }

  .button__header {
    display: none;
  }

  .header__burger-btn {
    display: block;
    position: relative;
    width: 40px;
    height: 30px;
    background-color: #6D31D0;
    border: none;
    outline: none;
  }

  .header__burger-btn span {
    display: block;
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: #fff;
    left: 0;
    transition: transform .5s;
    will-change: transform;
    z-index: 2;
    cursor: pointer;
  }

  .header__burger-btn span:nth-child(1) {
    transform: translateY(-12px);
  }

  .header__burger-btn span:nth-child(3) {
    transform: translateY(12px);
  }

  /*Крестик*/

  .header.open .header__burger-btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
  }

  .header.open .header__burger-btn span:nth-child(2) {
    opacity: 0;
  }

  .header.open .header__burger-btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
  }

  .header.open .menu {
    transform: translateX(-100%);
    visibility: visible;
  }

  /*CONTENT TOP*/

  main {
    display: flex;
    flex-direction: column;
  }

  .one-block {
    height: 600px;
    background: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.966), rgba(255, 255, 255, 0.068), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("background.jpg") no-repeat center bottom;
    text-align: center;
  }

  #content-name {
    font-weight: 600;
    font-size: 36px;
    text-transform: uppercase;
    color: #434364;
  }

  /*TXT ONE BLOCK*/

  .txt__one-block {
    width: 100%;
    height: 600px;
    background: rgba(109, 49, 208, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container__one-block-txt {
    width: 345px;
  }

  #txt-one {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
  }

  /*TXT TWO BLOCK*/

  .txt__two-block {
    width: 100%;
    height: 1072px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }

  .conteiner__two-block-txt {
    width: 345px;
  }

  #header-txt-two {
    font-weight: 600;
    font-size: 36px;
    text-transform: uppercase;
    color: #434364;
  }

  .conteiner__two-block-txt p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #434364;  
  }



  .info-and-specialization {
    width: 100%;
    height: 1156px;
    background: linear-gradient(180deg, #FEFC9E -47.89%, #FDBFA3 126.42%);
  }
}

/*DESKTOP*/
/**.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1440px; 
  margin-left: auto;
  margin-right: auto;
}

header {
  width: 100%;
  height: 120px;
  
  background: linear-gradient(90.49deg, #53269D 0%, #6D31D0 100.2%);
  display: flex;
  justify-content: center;
}

.header-menu {
  display: flex;
  width: 1230px;
  align-items: center;
  justify-content: space-between;
  
}

.nav-item {
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  margin-right: 28px;
}

.nav-items a:hover {
  transition: all .3s;
  color: var(--grey3);
}

.nav-item:last-child {
  margin-right: 0;
}

.button-header {
  color: #6D31D0;
  font-weight: 600;
  font-size: 20px; 
  width: 180px;
  height: 48px;
  border-radius: 30px;
  background: #FFDB80;
  border: none;
  cursor: pointer;
}

#button {
  text-decoration: none;
}

.button-header:hover {
  box-shadow: 3px 13px 13px rgba(0, 0, 0, 0.384);
  transition: all .3s;
  
}

main {
  background-image: url("backone.jpg");
  background-size: cover;
  width: 1440px;
  height: 513px;

}

#content-name {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 36px;
  color: #434364;
  margin-top: 250px;
  margin-left: 230px;
}**/
