@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.body__wraper {
  overflow: hidden;
  width: 100%;
  position: relative;
}

/**HEADER MOBILE**/

header {
  width: 100%;
  height: 120px;
  background: linear-gradient(90.49deg, #53269D 0%, #6D31D0 100.2%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#logoheader {
  width: 100px;
}

.conteiner {
  padding: 0 15px 0;
  width: 345px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  position: absolute;

  background-color: gray;
  right: -265px;
  top: 0;
  width: 265px;
  visibility: hidden;
  padding-top: 75px;
  transition: transform .5s, visibility .5s;
  will-change: transform;
}

.menu__list {
  list-style-type: none; 
}

.menu__link {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  padding: 10px;
}

.button__header {
  display: none;
}

.header__burger-btn {
  display: block;
  position: relative;
  width: 40px;
  height: 30px;
  background-color: #6D31D0;
  border: none;
  outline: none;
}

.header__burger-btn span {
  display: block;
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: #fff;
  left: 0;
  transition: transform .5s;
  will-change: transform;
  z-index: 2;
  cursor: pointer;
}

.header__burger-btn:hover span {
  background-color: rgb(0, 0, 0);
}

.header__burger-btn span:nth-child(1) {
  transform: translateY(-12px);
}

.header__burger-btn span:nth-child(3) {
  transform: translateY(12px);
}

/*Крестик*/

.header.open .header__burger-btn span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(2) {
  opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}

.header.open .menu {
  transform: translateX(-100%);
  visibility: visible;
}

/*DESKTOP*/
/**.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1440px; 
  margin-left: auto;
  margin-right: auto;
}

header {
  width: 100%;
  height: 120px;
  
  background: linear-gradient(90.49deg, #53269D 0%, #6D31D0 100.2%);
  display: flex;
  justify-content: center;
}

.header-menu {
  display: flex;
  width: 1230px;
  align-items: center;
  justify-content: space-between;
  
}

.nav-item {
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  margin-right: 28px;
}

.nav-items a:hover {
  transition: all .3s;
  color: var(--grey3);
}

.nav-item:last-child {
  margin-right: 0;
}

.button-header {
  color: #6D31D0;
  font-weight: 600;
  font-size: 20px; 
  width: 180px;
  height: 48px;
  border-radius: 30px;
  background: #FFDB80;
  border: none;
  cursor: pointer;
}

#button {
  text-decoration: none;
}

.button-header:hover {
  box-shadow: 3px 13px 13px rgba(0, 0, 0, 0.384);
  transition: all .3s;
  
}

main {
  background-image: url("backone.jpg");
  background-size: cover;
  width: 1440px;
  height: 513px;

}

#content-name {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 36px;
  color: #434364;
  margin-top: 250px;
  margin-left: 230px;
}**/
